body { font-family: 'Roboto', sans-serif; background: #f4ffef; color: #2d2d2d; }
header { background: #228b22; padding: 1rem; color: white; }
.project img { border: 2px solid #228b22; }
footer { background: #228b22; color: #fff; }